@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?omx5fa') format('woff'), ;
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@layer components {
    body {
        background-color: #ECEEF2;
    }

    input,
    select,
    textarea {
        @apply outline-none;
    }

    .required:after {
        content: "*";
    }

    .journal-scroll::-webkit-scrollbar {
        display: none;
    }
    
    .custom-scrollbar::-webkit-scrollbar {
        height: 4px;
    }
    
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #C1C1C1;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #F5F5F5;
        border-radius: 42px;
    }

    ::-webkit-scrollbar-thumb {
        width: 6px;
        background: #9F9F9E;
        border-radius: 38px;
        border: 2px solid transparent;
        background-clip: padding-box;
    }

    .primary-button {
        @apply h-12 bg-primary cursor-pointer flex focus:opacity-[0.9] font-semibold gap-x-2.5 hover:opacity-[0.9] items-center place-content-center p-3 rounded-lg text-white text-base leading-5 transition-all;
    }

    .secondary-button {
        @apply h-12 bg-limeGreen cursor-pointer flex focus:opacity-[0.9] font-semibold gap-x-2.5 hover:opacity-[0.9] items-center place-content-center p-3 rounded-lg text-white text-base leading-5 transition-all;
    }

    .transparent-button {
        @apply h-12 flex cursor-pointer place-content-center items-center gap-x-2.5 rounded-lg border-2 border-primary bg-white p-3 font-semibold text-primary text-base leading-5 transition-all;
    }

    .box-shadow {
        @apply shadow-[0px_2px_16px_0px_#22161614];
    }

    .truncate-text-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: 50%;
    }

    [dir="rtl"] .custom-select {
        background-position-x: calc(100% - (100% - 10px));
    }

    [class^="icon-"],
    [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1 !important;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .skeleton {
        animation-duration: 2.2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: skeleton;
        animation-timing-function: linear;
        background: linear-gradient(
            to right,
            #f6f6f6 8%,
            #f0f0f0 18%,
            #f6f6f6 33%
        );
        background-size: 1250px 100%;
    }

    @keyframes skeleton {
        0% {
            @apply bg-[-1250px_0];
        }

        100% {
            @apply bg-[1250px_0];
        }
    }

    .label-pending,
    .label-success,
    .label-closed {
        @apply text-[12px] text-white font-semibold py-px px-1.5 max-w-max rounded-[35px];
    }

	.label-pending {
		@apply bg-yellow-500;
	}

	.label-success {
		@apply bg-green-600;
	}

    .label-closed {
        @apply bg-rose-600;
    }

    .icon-plus:before {
        content: "\e900";
    }

    .icon-arrow-down:before {
        content: "\e901";
    }

    .icon-arrow-up:before {
        content: "\e902";
    }

    .icon-attribute:before {
        content: "\e903";
    }

    .icon-backspace:before {
        content: "\e904";
    }

    .icon-barcode:before {
        content: "\e905";
    }

    .icon-box:before {
        content: "\e906";
    }

    .icon-cancel:before {
        content: "\e907";
    }

    .icon-cart:before {
        content: "\e908";
    }

    .icon-cashier:before {
        content: "\e909";
    }

    .icon-check:before {
        content: "\e90a";
    }

    .icon-checked:before {
        content: "\e90b";
    }

    .icon-checkout:before {
        content: "\e90c";
    }

    .icon-chevron-down:before {
        content: "\e90d";
    }

    .icon-chevron-left:before {
        content: "\e90e";
    }

    .icon-chevron-right:before {
        content: "\e90f";
    }

    .icon-chevron-up:before {
        content: "\e910";
    }

    .icon-cross:before {
        content: "\e911";
    }

    .icon-customer:before {
        content: "\e912";
    }

    .icon-delete:before {
        content: "\e913";
    }

    .icon-dollar:before {
        content: "\e914";
    }

    .icon-edit:before {
        content: "\e915";
    }

    .icon-filter:before {
        content: "\e916";
    }

    .icon-hold-cart:before {
        content: "\e917";
    }

    .icon-home:before {
        content: "\e918";
    }

    .icon-logout:before {
        content: "\e919";
    }

    .icon-minus:before {
        content: "\e91a";
    }

    .icon-network:before {
        content: "\e91b";
    }

    .icon-payment:before {
        content: "\e91c";
    }

    .icon-percentage:before {
        content: "\e91d";
    }

    .icon-product:before {
        content: "\e91e";
    }

    .icon-reports:before {
        content: "\e91f";
    }

    .icon-search:before {
        content: "\e920";
    }

    .icon-settings:before {
        content: "\e921";
    }

    .icon-sync:before {
        content: "\e922";
    }

    .icon-un-checked:before {
        content: "\e923";
    }

    .icon-info:before {
        content: "\e924";
    }

    .icon-print:before {
        content: "\e925";
    }

    .icon-warning:before {
        content: "\e926";
    }

    .icon-eye-off:before {
        content: "\e927";
    }

    .icon-eye:before {
        content: "\e928";
    }

    .icon-calendar:before {
        content: "\e929";
    }

    .icon-menu:before {
        content: "\e930";
    }
}